:root {
    --yellow: #F2C94C;
    --blue: #0F57FB;
    --text: #484C50;
    --white: #FFFFFF;
    --line: #ffffffA8;
    --black: #313C4D;
}

body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.6;
    height: fit-content;
    width: 100%;
    background-color: var(--line);
    color: var(--black);
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.7rem;
    line-height: 4rem;
}

p {
    font-size: 1.1rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
}

button.btn1 {
    padding: 12px 25px;
    border-radius: 4px;
    margin: 2rem auto;
    transition: .5s;
}

button.btn1:hover {
    background-color: var(--white);
    color: var(--blue);
    letter-spacing: 1px;
}

#top-container {
    background-color: var(--blue);
    color: var(--white);
}

.nav-bar {
    position: relative;
    font-size: 1rem;
    padding-top: 1rem;
}

.navbar-brand {
    margin-left: 4rem;
}

.navbar-brand.text-light {
    font-weight: 800;
}

.navbar-nav {
    margin-right: 4rem;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 1.5rem;
    padding: 15px 0;
    color: var(--line);
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--white);
    letter-spacing: 1px;
}

.row {
    padding: 4rem 0 0;
}

.row .image {
    margin: 0 2rem;
    box-shadow: 0 20px 300px rgba(0, 0, 0, 0.18);
}

.image-box {
    padding: 0.3rem 1rem;
}

.image-box-title {
    color: var(--white);
    /* padding: 0.3rem 1rem; */
}

.image-box-description {
    color: var(--line);
}

#top-container button.btn1 {
    background-color: var(--white);
    color: var(--blue);
    margin: 2rem 1rem auto;
}

#about-section {
    position: relative;
    margin: 1rem;
}

#about-section .col {
    margin: 0;
    padding: 0 4rem;
}

#about-section img {
    width: 32rem;
    height: 33rem;
    border-radius: 18px;
    /* padding-left: 3rem; */
}

#about-section .col h4 {
    margin: 1.5rem auto 1.3rem;
    font-weight: 600;
}

#about-section .col h2 {
    margin: 1.5rem 0;
    font-weight: 800;
}

#about-section button.btn1 {
    background-color: var(--blue);
    color: var(--white);
}

#services-section {
    position: relative;
    margin: 6rem 2rem;
}

#services-section .col {
    padding: 0 2rem;
}

#services-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#services-section .col h3 {
    margin: 1rem auto 1.3rem;
    font-weight: 600;
}

#services-section h2 {
    margin: 1rem 0;
    font-weight: 800;
    text-align: center;
}

#services-section button.btn1 {
    background-color: var(--blue);
    color: var(--white);
    display: block;
    margin: 3rem auto;
}

#cta-section .row {
    background-color: var(--blue);
    color: var(--white);
    margin: 2rem 0 auto 4rem;
    padding: 0;
    width: 100%;
}

#cta-section .image-box-title  {
    padding: 6rem 3rem 0;
}

#cta-section .image-box-description {
    padding: 1rem 3rem 0;
}


#cta-section button.btn1 {
    background-color: var(--white);
    color: var(--blue);
    margin: 2rem 3rem auto;
}

#cta-section img {
    width: 225px;
    height: 225px;
    padding: 0;
    margin: 0;
}

table {
  background-color: #fff;
}

