:root {
    --yellow: #f0ad4e;
    --blue: #0F57FB;
    --text: #484C50;
    --white: #FFFFFF;
    --bright: #ffffffc2;
    --line: #ffffffA8;
    --black: #313C4D;
    --lightblue: #f3f7ff;
}

body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--line);
    color: var(--black);
    justify-content: center;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3vw;
    line-height: 1.4em;
}

p {
    font-size: 1.1rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
}

button.btn1 {
    padding: 12px 25px;
    border-radius: 4px;
    margin: 2rem auto;
    transition: .5s;
    background-color: var(--white);
    color: var(--blue);
    text-transform: capitalize;
}

button.btn1:hover {
    background-color: var(--white);
    color: var(--blue);
    letter-spacing: 1px;
}

button.btn2 {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 25px;
    border-radius: 4px;
    margin: 2rem auto;
    transition: .5s;
    text-transform: capitalize;
}

button.btn2:hover {
    letter-spacing: 1px;
    background-color: var(--blue);
    color: var(--white);
}

#top-container {
    background-color: var(--blue);
    color: var(--white);
}

.nav-bar {
    position: relative;
    font-size: 1rem;
    padding-top: 1rem;
}

.navbar-brand {
    margin-left: 2rem;
}

.navbar-brand.text-light {
    font-weight: 800;
    text-wrap: wrap;
}

.navbar-nav {
    margin-right: 2rem;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 1.5rem;
    padding: 15px 0;
    color: var(--line);
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--white);
    letter-spacing: 1px;
}

.row {
    padding: 4rem 0 0;
}

.row .image {
    margin: 0 2rem;
    box-shadow: 0 20px 300px rgba(0, 0, 0, 0.18);
}

.image-box {
    padding: auto;
}

.image-box-title {
    color: var(--white);
}

.image-box-description {
    color: var(--bright);
}

#top-container .row img {
    width: 100%;
    height: auto;
    margin: 0;
}

#about-section {
    position: relative;
    margin: 0;
}

#about-section .col {
    margin: 0;
    padding: 0 3rem;
}

#about-section img {
    width: 90%;
    /* max-width: 32rem; */
    height: auto;
    border-radius: 8px;
    margin-left: 2rem;
}

#about-section .col h4 {
    margin: 1.5rem auto 1.3rem;
    font-weight: 600;
}

#about-section .col h2 {
    margin: 1.5rem 0;
    font-weight: 800;
}

#about-section button.btn1 {
    background-color: var(--blue);
    color: var(--white);
}

#services-section {
    margin: 4rem 1rem;
}

#services-section .row {
    padding: 2rem 0;
}


#services-section .col {
    padding: 1rem 2rem;
}

#services-section img.img-6{
    box-shadow: 0 20px 300px rgba(0, 0, 0, 0.18);
    border: 1px solid var(--black);
}

#services-section img {
    width: 100%;
    height: auto;
    max-height: 15rem;
    border-radius: 10px;
}

#services-section .col h3 {
    margin: 1.3rem auto 1.3rem;
    font-weight: 600;
}

#services-section h2 {
    font-weight: 800;
    text-align: center;
}

#services-section button.btn1 {
    background-color: var(--blue);
    color: var(--white);
    display: block;
    margin: 1rem auto;
}

#cta-section {
    background-color: var(--blue);
    color: var(--white);
}

#cta-section .row {
    margin: 2rem 0 auto 4rem;
    padding: 0;
}

#cta-section .image-box-title {
    padding: 5rem 3rem 0;
}

#cta-section .image-box-description {
    margin: 1rem 0;
}


#cta-section button.btn2 {
    background-color: var(--white);
    color: var(--blue);
}

#cta-section img {
    width: 100%;
    max-width: 14rem;
    height: 14rem;
    padding: 0;
    margin: 0;
}

table {
    /* background-color: #fff; */
    margin: auto;
}

#testimonials {
    margin: 7rem 2rem 2rem;
    text-align: center;
}

#testimonials h2 {
    text-transform: capitalize;
}

#testimonials span {
    font-weight: normal;
}

#testimonials .row {
    padding: 1rem 0;
}

#testimonials .col {
    padding: 2rem 2rem 0;
}

#testimonials .col i:first-child {
    font-size: 2rem;
    color: var(--blue);
    padding: 1rem;
}

#testimonials .col i {
    font-size: 1rem;
    color: var(--yellow);
    padding: 1rem 0;
}

#work-section {
    margin: 4rem 2rem 3rem;
}

#work-section h2 {
    margin: 1rem auto 3rem;
    text-align: center;
}

#work-section img {
    width: 100%;
}

#work-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 2rem;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

footer {
    background: var(--blue);
    color: var(--white);
    padding: 0 2rem;
}

footer .row {
    padding: 4rem 1rem 2rem;
}

footer .row h4 {
    padding: 0 0 0.5rem;
}

footer .row i {
    padding: 0 10px 0 0;
}

footer .row p {
    margin: 0;
    padding: 2px;
}

footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--white);
    font-weight: normal;
    text-transform: capitalize;
    text-decoration: none;
    transition: .3s;
    font-size: 1.1rem;
}

footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

footer .copyright {
    border-top: 2px solid rgba(256, 256, 256, .3);
    color: var(--white);
}

footer .copyright .row {
    margin: 0;
    padding: 1rem 1.5rem;
}

footer .email a {
    text-decoration: none;
}

footer .copyright p {
    margin: 0;
    font-size: 1rem;
}

footer a {
    color: var(--white);
}

footer .address {
    padding-top: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    body {
        width: 100%;
        font-size: medium;
    }

    h1 {
        font-size: 2rem;
    }

    .navbar-brand {
        margin-left: 0;
        font-size: medium;
    }

    .row .image {
        margin: 0;
        box-shadow: 0 20px 300px rgba(0, 0, 0, 0.18);
    }

    #about-section img {
        display: none;
    }

    #about-section .col {
        padding: 0 2rem;
    }

    #services-section {
        margin: 6rem 2rem;
    }

    #services-section .row {
        padding: 1rem 0;
    }

    #services-section .col {
        padding: 1rem 0;
    }

    #services-section h2.service-heading {
        text-align: center;
        padding: 0;
    }

    #services-section button.btn1 {
        margin: 1rem auto 0;
    }

    #cta-section .row {
        margin: 0;
        padding: 2rem 0 0;
        display: flex;
        flex-direction: column-reverse;
    }

    #cta-section .container-fluid {
        padding: 0;
        margin: 0;
    }

    #cta-section .image-box-title {
        padding: 3rem 0 0;
    }
    
    #cta-section .image-box-description {
        padding: 0;
        margin: 1rem 0;
    }

    #cta-section button.btn2 {
        margin: 1rem 0 2rem;
    }

    #testimonials .row {
        padding: 0;
    }

    #testimonials .col {
        padding: 1rem;
    }

    #testimonials .col i {
        padding: 1rem 0;
    }

    #work-section {
        margin: 4rem 0.5rem 3rem;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    footer {
        text-align: center;
    }

    footer .col {
        padding: 1rem 0;
        text-align: center;
    }

    footer .btn.btn-link {
        text-align: center;
    }

    footer .btn.btn-link::before {
        display: none;
    }

    footer .copyright {
        font-size: 10px;
    }

    footer .copyright .row {
        padding: 8px;
    }

    #contact-1 {
        margin-bottom: 3rem;
    }

    #contact-1 .row {
        display: flex;
        flex-direction: column-reverse;
    }

    #contact-1 .content {
        padding: 2rem;
        margin: auto;
    }

    #benefits {
        margin-top: 5rem;
        margin-bottom: 4rem;
        padding: 2rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    #services-section .col {
        padding: 1rem 0;
    }

    #cta-section .row {
        margin: 0;
        padding: 2rem 0 0;
        display: flex;
        flex-direction: column-reverse;
    }

    #cta-section .container-fluid {
        padding: 0;
        margin: 0;
    }

    #cta-section .image-box-title {
        padding: 3rem 0 0;
    }

    #cta-section button.btn2 {
        margin: 1rem 0 2rem;
    }

    #testimonials .col i {
        padding: 10px 0;
    }

    footer .col {
        padding: 2rem 0.7rem 0;
    }

    #contact-1 {
        margin-bottom: 5rem;
    }

    #contact-1 .row {
        display: flex;
        flex-direction: column-reverse;
    }

    #contact-1 .content {
        padding: 2rem;
        margin: auto;
    }

    #benefits {
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding: 2rem;
    }

    #about img {
        max-height: 20rem;
    }

    #about .content {
        padding: auto;
    }

    #about .content {
        padding: 2rem;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {

    #cta-section .row {
        margin: 0;
        padding: 0;
        background-color: var(--blue);
        color: var(--white);
    }


    #cta-section .container-fluid {
        padding: 0;
        margin: 0;
    }

    #cta-section .image-box-title {
        padding:  3rem 0 0;
    }

    #cta-section .image-box-description {
        padding: auto;
    }

    #cta-section button.btn2 {
        margin: 1rem 0 1rem;
    }

    #services-section .col {
        padding: 0 1rem;
    }

    #services-section img {
        height: 45vh;
    }


    #testimonials .col i {
        padding: 10px 0;
    }

    footer .col {
        padding: 2rem 0.7rem 0;
    }

    #contact-1 .content {
        padding: 5rem 2rem 0;
        margin: auto;
    }

    #contact-2 img {
        min-height: 30rem;
    }

    #about img {
        min-height: 35rem;
    }

    #benefits img {
        min-height: 30rem;
    }

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #cta-section .container-fluid {
        padding: 0;
        margin: 0;
    }

    #cta-section .image-box-title {
        padding: auto;
    }

    #cta-section .image-box-description {
        padding: auto;
    }

    #cta-section button.btn1 {
        margin: 1rem 0 1rem;
    }

    #about-section img {
        width: 100%;
        max-width: 42rem;
        height: auto;
        min-height: 32rem;
        border-radius: 8px;
        /* margin-left: 2rem; */
    }

    .image-column {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contact-1 .content {
        padding: 5rem 2rem 0;
        margin: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #cta-section {
        margin-left: 8rem;
    }

    #cta-section .image-box-title {
        padding: 5rem 0 0;
    }
    
    #cta-section .image-box-description {
        margin: 1rem 0 0;
    }

    #cta-section button.btn2 {
        margin: 1rem 0 1rem;
    }

    #contact-1 .content {
        padding: 7rem 2rem;
        margin: auto;
    }

    #about img {
        max-height: 30rem;
    }


    #services-section h2.service-heading {
        text-align: left;
        padding: 0 2rem;
    }

    #about .content {
        padding: 4rem 2rem 0;

    }
}


/* ABOUT PAGE */

#top-container .row-1 {
    padding: 5rem 1rem 3rem;
}

#top-container .row-1 .image-box-title {
    padding-bottom: 1rem;
}

#about .column-2 {
    background-color: var(--blue);
    padding: 2rem;
}

#about .content {
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

#about h2 {
    padding: 1rem 0;
}

#about i {
    padding: 0 1rem 0 0;
    margin: 0;
    font-size: 1rem;
}

#about .row-1 {
    padding: 0;
    margin: 6rem 0 4rem;
}

#about .col {
    padding: 0;
}

#about img {
    margin: auto;
    width: 100%;
    height: auto;
    box-shadow: 0 20px 300px rgba(0, 0, 0, 0.1);
}

.check-item {
    display: flex;
    align-items: start;
    gap: 10px;
}

.check-item i {
    padding-top: 10px;
}

#benefits {
    background-color: var(--blue);
    margin-bottom: 4rem;
}

#benefits .row {
    padding: 0;
    align-items: center;
}

#benefits .col {
    padding: 0;
}

#benefits h2 {
    padding: 1rem 0;
}

#benefits i {
    color: var(--white);
    padding: 0 1rem 0 0;
    font-size: 1rem;
}

#benefits img {
    margin: auto;
    width: 100%;
    height: auto;
}



/* CONTACT PAGE */


#contact-1 {
    margin-top: 2rem;
}

#contact-1 .column-2 {
    background-color: var(--blue);
    padding: 2rem;
}



#contact-1 h2 {
    padding: 1rem 0;
}

#contact-1 i {
    padding: 0 1rem 0 0;
    margin: 0;
    font-size: 1rem;
}

#contact-1 .col {
    padding: 0;
}

#contact-1 form {
    background-color: var(--lightblue);
    padding: 2rem;
    text-transform: capitalize;
    font-weight: 300;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.18);
    
}

#contact-1 form .row {
    padding: 0;
}


#contact-2 {
    margin: 0;
    margin-bottom: 6rem;
}

#contact-2 .row {
    padding: 0;
    background-color: var(--lightblue);
}

#contact-2 .col {
    padding: 0;
}

#contact-2 button.btn2 {
    background-color: var(--blue);
    color: var(--white);
}

#contact-2 i {
    color: var(--white);
    font-size: 1rem;
}

#contact-2 img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

#contact-2 .column-2 {
    background-color: var(--lightblue);
    align-items: center;
    /* box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.18); */
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.18);
}

#contact-2 .content {
    margin: auto;
    width: 90%;
    padding: 5rem 0;
}